header {
    display: flex;
    flex-direction: row;
    justify-content: center;
    
}

nav {
    margin-top: 20px;
    margin-bottom: 20px;
}

nav a {
    margin-right: 10px;
    display: inline-block;
    text-decoration: none;
    color: #e5e5e5;
    font-size: 20px;
}

.active {
    text-decoration: underline;
}
